<footer>
<div class="container py-3" id="recent-posts">
    {{ if .Site.Params.blog.recentPosts.enable | default false }}
    {{ $recentPostsPath := .Site.Params.blog.recentPosts.path | default "blogs" }}
    {{ $recentPostsCount := .Site.Params.blog.recentPosts.count | default 3 }}
    {{ $recentPosts := where .Site.RegularPages "Section" $recentPostsPath | first $recentPostsCount }}
    
    {{ if gt (len $recentPosts) 0 }}
    <div class="h3 text-center text-secondary py-3">
        {{ .Site.Params.blog.recentPosts.title | default "Recent Posts" }}
    </div>
    <div class="row">
        {{ range $recentPosts }}
        <div class="col-12 d-flex justify-content-center mb-4">
		<article class="post-entry shadow-sm p-4 rounded" style="max-width: 720px; width: 100%;">
			{{- $isHidden := default (.Param "hideCover") | default true }}
			{{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

			<div class="entry-header">
				<h2 class="entry-hint-parent">
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			</h2>
			</div>

			{{ if not (.Param "hideSummary") }}
				<div class="entry-content">
					<p>{{ .Summary | truncate 150 }}</p>
				</div>
			{{ end }}

			{{ if not (.Param "hideMeta") }}
				<footer class="entry-footer">
					<span title='%s'>{{ .Date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}</span>
				</footer>
			{{ end }}
    </article>
  </div>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
</div>
</footer>
