{{ if .Site.Params.hero.enable | default false }}
<section id="hero">
    
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7 {{ if .Site.Params.animate }}animate{{ end }}" id="primary-font">
                <span class="subtitle">
                    {{ .Site.Params.hero.intro }}
                </span>
                <h2>
                    {{ .Site.Params.hero.title }}
                </h2>
                <h3>
                    {{ .Site.Params.hero.subtitle }}
                </h3>
                <p class="hero-content">
                    {{ .Site.Params.hero.content | markdownify }}
                </p>
                <div class="row">
                    <div class="col-auto h-100">
                        {{ if .Site.Params.hero.button.enable }}
                        <a href="{{ .Site.Params.hero.button.url }}" class="btn" {{ cond .Site.Params.hero.button.download "download" "" }}
			  {{ if .Site.Params.hero.button.newPage | default true }}
                          target="_blank"
                          {{ end }}>
                            {{ .Site.Params.hero.button.name }}
                        </a>
                        {{ end }}
                    </div>
					
					{{if .Site.Params.contact.email }}
                    <div class="col-auto">
                        <a href="mailto:{{ .Site.Params.contact.email }}" class="btn">
                            {{ .Site.Params.contact.btnName }}
							<i class="fa fa-envelope"></i>
                        </a>
                    </div>
                    {{ end }}
					
					
                    <div class="col-auto px-0 h-100">
                        {{- partial "sections/hero/social.html" . -}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</section>


{{ end }}