<style>
.post-entry {
  background: var(--secondary-background-color);
  border-radius: 8px !important;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: var(--shadow);
}

.post-entry img {
	border-radius: 8px;
}

.post-entry:hover {
  box-shadow: var(--shadow-hover);
}


</style>

{{ range .Site.Params.sections }}
	{{ $recentPosts := where $.Site.RegularPages "Section"  .path }}

	<div class="container py-3">
		<div class="h3 text-center text-secondary py-3">
			{{ .title }}
		</div>
		<div class="row justify-content-center">
			{{ range $recentPosts }}
			<div class="col-12 d-flex justify-content-center mb-4">
			
				
				<article class="post-entry shadow-sm p-4 rounded clickable-article" style="max-width: 720px; width: 100%; cursor: pointer;" data-url="{{ .Permalink }}">
					{{- $isHidden := default (.Param "hideCover") | default true }}
					{{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

					<div class="entry-header">
						<h2 class="entry-hint-parent">{{ .Title }}</h2>
					</div>

					<div class="entry-content">
						<p>{{ .Summary }}</p>
					</div>

					<footer class="entry-footer">
						<span title='%s'>{{ .Date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}</span>
					</footer>
				</article>
				
			</div>
			{{ end }}
		</div>		
	</div>
{{ end }}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const clickableArticles = document.querySelectorAll('.clickable-article');
    clickableArticles.forEach(article => {
      article.addEventListener('click', function() {
        const url = this.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      });
    });
  });
</script>