{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="/css/projects.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}



{{ define "main" }}
<div class="container pt-5">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">
        {{ range .Paginator.Pages }}
			<div class="col-12 d-flex justify-content-center mb-4">
				<article class="post-entry shadow-sm p-4 rounded clickable-article" style="max-width: 720px; width: 100%; cursor: pointer;" data-url="{{ .Permalink }}">
					{{- $isHidden := default (.Param "hideCover") | default true }}
					{{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

					<div class="entry-header">
						<h2 class="entry-hint-parent"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					</div>

					<div class="entry-content">
						<p>{{ .Summary }}</p>
					</div>

					<footer class="entry-footer">
						<span title='%s'>{{ .Date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}</span>
					</footer>
				</article>
				
			</div>
        {{ end }}
    </div>
</div>
{{ end }}