/* light mode */
.light > *{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

/* dark mode */
.dark {
    --background-color: var(--background-color-dark) !important;
    --secondary-background-color: var(--secondary-background-color-dark) !important;
    --text-color: var(--text-color-dark) !important;
    --text-secondary-color: var(--text-secondary-color-dark) !important;
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
   
    --border-color-warning: var(--border-color-warning-dark) !important;
    --background-color-warning: var(--background-color-warning-dark) !important;
    --text-color-warning: var(--text-color-warning-dark) !important;   
    --title-color-warning: var(--title-color-warning-dark) !important;
		
     --border-color-info: var(--border-color-info-dark) !important;
     --background-color-info: var(--background-color-info-dark) !important;  
     --text-color-info: var(--text-color-info-dark) !important;
     --title-color-info: var(--title-color-info-dark) !important;

     --border-color-success: var(--border-color-success-dark) !important;
     --background-color-success: var(--background-color-success-dark) !important;
     --text-color-success: var(--text-color-success-dark) !important;
     --title-color-success: var(--title-color-success-dark) !important;

     --border-color-danger: var(--border-color-danger-dark) !important;
     --background-color-danger: var(--background-color-danger-dark) !important;
     --text-color-danger: var(--text-color-danger-dark) !important;
     --title-color-danger: var(--title-color-danger-dark) !important;
}

.text-secondary {
    color: var(--text-secondary-color) !important;
}

#theme-toggle:focus {
    outline: 0;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    border: none;
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

body *::selection {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
}